{% extends 'base.html' %}

{% block content %}
<h1>Catálogo de Repuestos</h1>
<div class="productos">
    {% for repuesto in repuestos %}
    <div class="producto">
        <img src="{{ repuesto.imagen.url }}" alt="{{ repuesto.nombre }}">
        <h2>{{ repuesto.nombre }}</h2>
        <p>{{ repuesto.descripcion }}</p>
        <p>Precio: ${{ repuesto.precio }}</p>
        <a href="{% url 'añadir_producto' repuesto.id %}" class="btn btn-success">Añadir al carrito</a>
    </div>
    {% endfor %}
</div>
{% endblock %}