{% extends 'base.html' %}
{% block content %}
<h2>Carrito de Compras</h2>
{% if compra %}
    <ul>
        {% for detalle in compra.detallecompra_set.all %}
            <li>
                <strong>{{ detalle.producto.nombre }}</strong><br>
                Cantidad: {{ detalle.cantidad }}<br>
                Precio Unitario: ${{ detalle.precio_unitario }}<br>
                Subtotal: ${{ detalle.cantidad|floatformat:2|add:detalle.precio_unitario }}
                <a href="{% url 'eliminar_producto_carrito' detalle.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ total }}</p>
    <a href="{% url 'finalizar_compra' %}" class="btn btn-primary">Finalizar Compra</a>
{% else %}
    <p>No hay productos en tu carrito.</p>
{% endif %}
{% endblock %}
