{% extends 'base.html' %}

{% block content %}
<h1>Historial de Compras</h1>
{% if compras_finalizadas %}
    <ul>
    {% for compra in compras_finalizadas %}
        <li>
            <strong>Compra #{{ compra.id }}</strong> - 
            Cliente: {{ compra.cliente.nombre }} - 
            Fecha: {{ compra.fecha_finalizacion }} - 
            Total: ${{ compra.total }}
            <a href="{% url 'detalle_compra' compra.id %}" class="btn btn-info btn-sm">Ver Detalles</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay compras finalizadas en tu historial.</p>
{% endif %}
{% endblock %}